<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="js/tmpl.js" charset="utf-8"></script>
  <script src="js/script.js" charset="utf-8"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wrapper">
    <form action="" class="search">
      <input type="text" name="searchField" value="" id="searchField">
      <input type="button" name="seachButtom" value="Search" class="searchButtom">
    </form>
    <div class="searchResult">

    </div>
    <script type="text/tmpl" id="tmpl">
      <% if (hits.length == 0) {%>
        <div>По запросу <span><%= query%></span> ничего не найдено.</div>
        <% } else { %>
          <div>Показаны результаты по запросу: <span><%= query%></span></div>
          <% for ( var i = 0; i < hits.length; i++ ) { %>
            <div class="links">
              <a href="<%= hits[i].pageURL %>" target="blank"><img src="<%= hits[i].previewURL %>" alt=""/><%= hits[i].pageURL %></a>
            </div>
            <% } %>
              <% } %>
    </script>
  </div>
</body>

</html>
